.frandsGallery {
    background-color: #c3d3cb;
    text-align: center;

        ul {
            display: flex;
            margin-top: 90px;
            justify-content: space-between;

                li {
                    width:calc((100% / 3) - 20px)
                }
        }

}

.iconLiving ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 40px;
    
        li {
            width: 200px;
            height: 200px;
            text-align: center;

                img {
                    height: 50%;
                    margin: 0 auto;

                }
        }
    
}
// MEDIA QUERIES

@media(max-width:700px) {

    .frandsGallery .cut {
        display: none;
    }

    .frandsGallery ul {
        justify-content: space-around;
        margin-top: 30px;
    }

    .frandsGallery ul li {
        width: calc((100% / 2) - 20px);
    }

    .iconLiving ul {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}