.frandsGallery {
    background-color: #c3d3cb;
    text-align: center;

        ul {
            display: flex;
            margin-top: 90px;
            justify-content: space-between;

                li {
                    width:calc((100% / 3) - 20px)
                }
        }

}

.iconLiving ul {
    display: flex;
    
}