@use "setup";
@use "header";
@use "gallery";

@mixin fontSize($sizeValue) {
    font-size: $sizeValue;

}

$text: #fcfcfc;
$bigFont:'Fredericka the Great', cursive;
$midFont: 'Cormorant Garamond', serif;
$lilFont: 'Roboto', sans-serif;

.story {
    display: flex;
    color: $text;

        .imgContainer {
            width: 30%;
            margin-right: 35px;
        }

        .suzieStory {
            width:85%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

                p {
                    line-height: 29px;
                    font-family: $lilFont;
                    font-size: 1rem;
    
                }
        }
}

.suzieStory button {
    margin-top: 20px;
    padding: 10px;
    background-color: $text;
    border: 1px solid $text;
}

* {
    border: 1px pink solid;
}
section.iconLiving {
    padding: 50px 0 ;
        ul {
            font-family: $midFont;
            font-size: 1.75rem;
            color: $text;
        }
}

//  Media queries

@media(max-width:1250px) {
    .story {
        justify-content: space-between;
    }

   
    .story .suzieStory {
        width: 65%;
    }

    .story .imgContainer {
        margin-right: 15px;
        min-width: 300px;
    }
}

@media (max-width:1000px) {
    .story {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .story .imgContainer {
        margin-right: 0;
        margin-bottom: 20px;
        width: 85%;
    }

    .story .suzieStory {
        width: 85%;
    }


    
}

    
